default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  port: 5432
  pool: 5

development:
  <<: *default
  database: qna_development

test:
  <<: *default
  database: qna_test


production:
  <<: *default
  database: qna_production
  username: postgres
  password:
