development:
  secret_key_base:
  fb_app_id:
  fb_app_secret:
  vk_app_id:
  vk_app_secret:
  email:
      :user_name:
      :password:
      :address:
      :domain:

test:
  secret_key_base:

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  fb_app_id:
  fb_app_secret:
  vk_app_id:
  vk_app_secret:
  email:
    :user_name:
    :password:
    :address:
    :domain: