/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*header*/
.topbar{
    width: 100%;
    background: rgba(0,0,0,0.86);
    height: 34px;
    line-height: 1;
    font-size: 13px;
}

.topbar .topbar-wrapper{
    width: 1000px;
    padding-left: 0;
    padding-right: 30px;
    position: relative;
    margin: 0 auto;
    height: 34px;
    text-align: left;
}

.topbar .topbar-wrapper .topbar-logo{
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.topbar .topbar-wrapper .topbar-logo .topbar-icon{
    width: 147px;
    background-position: 9px -20px;
    display: inline-block;
    height: 34px;
    vertical-align: top;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("share-sprite-new.svg?v=d09c08f3cb07");
}

.topbar .topbar-wrapper .topbar-links{
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

.topbar .topbar-wrapper .topbar-links .links-container{
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.topbar .topbar-wrapper .topbar-links .links-container .topbar-menu-links{
    margin-left: 10px;
    margin-top: -10px;
    display: inline-block;
    vertical-align: top;
}
.topbar .topbar-wrapper .topbar-links .links-container .topbar-menu-links a{
    margin: 0;
    color: #e0e0e0;
    text-decoration: none;
    display: inline-block;
    height: 24px;
    padding: 10px 7px 0 7px;
    vertical-align: top;
    font-size: 13px;
}
